.categories {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: rgb(32, 33, 36);
}

.category {
    display: flex;
    width: 251px;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    float: none;
    cursor: pointer;
    position: relative;

}

.category.active {
    border-bottom: 3px solid #0b57d0;
}

.category-icon.active,
.category.active .material-symbols-outlined {
    color: #0b57d0;
}