.mail-index {
    /* background: #f6f8fc; */
    min-height: 100vh;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-index>.container {
    border-radius: 24px;
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background: #fff;
    margin: 0;

}

.mail-index>.container>.mail-preview {
    width: 100%;
    background: transparent;
    transition: background 0.2s;
}

.mail-index>.container>.mail-preview:hover {
    background: #f2f6fc;
}

.mail-index>.container>.mail-from,
.mail-index>.container>.mail-subject,
.mail-index>.container>.mail-date {
    font-size: 1rem;
    color: #202124;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}