.mail-preview {
    display: flex;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
    color: rgb(32, 33, 36);
    background: none;
    cursor: pointer;
    text-indent: initial;
    box-sizing: border-box;
}

.mail-actions .btn {
    font-size: 20px;
    margin: 0 4px;
    padding: 0;
    line-height: 1;
}