.header {
    display: flex;
    align-items: flex-start;
    left: 0;
    width: 100%;
    padding: 20px 0px 0px 72px;
}

.mail-subject {
    font-size: 1.25rem;
    font-family: 'Roboto', Arial, sans-serif;
    font-feature-settings: "liga" 0;
    color: (31, 31, 31);
    font-weight: 400;
}

.sender-details {
    display: flex;
    justify-content: space-between;
}

.mail-from {
    vertical-align: top;
    font-size: 0.75rem;
    line-height: 20px;
}

.mail-date {
    font-size: 0.75rem;
    color: rgb(94, 94, 94);
    display: block;
    line-height: 20px;
    text-align: right;
    white-space: nowrap;
    cursor: auto;
}

.mail-to {
    font-size: 0.75rem;
    color: rgb(94, 94, 94);
    line-height: 20px;
    border-collapse: collapse;
    cursor: auto;
}

.mail-body {
    color: rgb(32, 33, 36);
}

.buttons-container button {
    border: 1px solid rgb(116, 119, 117);
    border-radius: 18px;
    margin-right: 8px;
    font-size: 0.875rem;
    color: rgb(68, 71, 70);
    cursor: pointer;
    font-weight: 500;
    height: 36px;
    outline: currentColor;
    padding: 0px 16px 0px 12px;
    min-width: 104px;
}

.container {
    background-color: white;
}

.buttons-container {
    display: flex;
}