.apps-btn {
    margin-left: 32px;
}

.note-main-logo {
    padding-left: 5px;
    margin: 0px;
}

.note-header {
    position: fixed;
    width: 98%;
    justify-content: start;
    gap: 0px;
    height: 48px;
    padding-top: 8px; 
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 99999;
    
}

.header-bar.note-header-ba {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
